@keyframes fadeRight{
    from{
        opacity:0;
        transform: translateX(-30px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.project-card{
    opacity: 0;
}

.project-card.visible{
    animation: fadeRight 0.6s ease-out forwards; /* ease-out starts fast and slows down to the end, forwards keeps position  */
}