body{
    display: flex;
}

.scroll-up-button{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #121212;
    border: 1px solid #333;
    color: white;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.scroll-up-button span{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(2);
}

.scroll-up-button:hover{
    color: white;
    background-color:#181818;
}